@using cryptovalutchik.Components.Types

<div class="cards">
    @foreach(var cryptocurrency in Cryptocurrencies)
    {
        <CryptoCard Title="@cryptocurrency.name" Rate="cryptocurrency.rate" Ticker="@cryptocurrency.ticker" OnRemoveRequest="OnRemoveCryptoCard" IsSelected="cryptocurrency.id == SelectedTicker" OnCryptoSelected="@(() => OnCryptoWithIdSelected.InvokeAsync(cryptocurrency.id))" />
    }
</div>
@code {
    [Parameter]
    public Cryptocurrency[] Cryptocurrencies { get; set; }
    [Parameter]
    public EventCallback<string> OnRemoveCrypto { get; set; }
    private async Task OnRemoveCryptoCard(string tickerToRemove)
    {
       await OnRemoveCrypto.InvokeAsync(tickerToRemove);
    }
    [Parameter]
    public EventCallback<Guid> OnCryptoWithIdSelected { get; set; }

    [Parameter]
    public Guid? SelectedTicker { get; set; }
}
