<div class="chart">
    <h3>VUE - USD</h3>
    <div class="chart-bars">
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
    </div>
</div>
@code {

}
