<div class="chart">
    <h3>@TitleChart - USD</h3>
    <div class="chart-bars">
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
        <div class="chart-bar"></div>
    </div>
</div>
@code {
    [Parameter]
    public string TitleChart { get; set; }
}
