<div class="cards">
    <div class="card">
        <h4>WTF - USD</h4>
        <div class="value">1.11</div>
        <div class="remove-btn">
            <i class="fa-solid fa-trash"></i> Удалить
        </div>
    </div>
    <div class="card">
        <h4>VUE - RUB</h4>
        <div class="value">80000.00</div>
        <div class="remove-btn">
            <i class="fa-solid fa-trash"></i> Удалить
        </div>
    </div>
    <div class="card">
        <h4>BTC - USD</h4>
        <div class="value">99999.99</div>
        <div class="remove-btn">
            <i class="fa-solid fa-trash"></i> Удалить
        </div>
    </div>
    <div class="card">
        <h4>DOGE - USD</h4>
        <div class="value">0.0014</div>
        <div class="remove-btn">
            <i class="fa-solid fa-trash"></i> Удалить
        </div>
    </div>
</div>
@code {

}
